.code-block-container {
  position: relative;
  width: 100%;
  margin: var(--spacing-3) 0;
}

.code-block {
  border: 1px solid var(--color-border-default-subtle) !important;
  border-radius: 0px !important;
}

.code-block-language {
  font-size: var(--font-size-xxs);
  text-align: right;
  padding: 0;
  margin-top: var(--spacing-1);
}

.code-block-copy {
  padding: var(--spacing-1_5) var(--spacing-2) !important;
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  font-size: var(--font-size-xxs);
  color: var(--color-background-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.code-block-container:hover {
  .code-block-copy {
    visibility: visible;
  }
}

.code-block-language {
  bottom: var(--spacing-1_5);
  color: var(--color-foreground-default-subtle);
}

/* Fix Prismjs selection highlight colors */
.code-block::selection,
.code-block *::selection {
  background: var(--color-background-primary) !important;
  color: black !important;
}
