.footer {
  margin-top: auto;
  padding-top: var(--spacing-4);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  border-top: 2px solid var(--color-border-default-subtle);
}

.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--spacing-4);

  a,
  button {
    font-size: var(--font-size-xs);
    color: var(--color-foreground-default-subtle);
    text-decoration-color: var(--color-foreground-default-subtle);
  }
}

.footer__copyright {
  margin-top: var(--spacing-2);
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-foreground-default-subtle);
}

@media (max-width: 360px) {
  .footer__links {
    flex-wrap: wrap;
  }

  .footer__links a,
  button {
    font-size: var(--font-size-xs) !important;
  }
}
