.header-prefix {
  color: var(--color-foreground-primary);
  padding-right: var(--spacing-1_5);
  transition: opacity 0.1s ease-in-out;
}

.show-cursor {
  opacity: 1;
}

.hide-cursor {
  opacity: 0;
}
