.image-container {
  position: relative;
  width: 100%;
  min-height: 240px;
  /* reserves space while loading */
}

.image-skeleton {
  color: var(--color-foreground-default-subtle);
  font-size: var(--font-size-xs);
  position: absolute;
}

.image {
  object-fit: contain;
  width: 100%;
  height: auto;
  max-height: 300px;

  object-position: left;
  transition: filter 0.15s;
}

.image[data-loaded="false"] {
  opacity: 0;
}

.image[data-loaded="true"] {
  opacity: 1;
}

.image-note {
  font-family: var(--font-mono);
  color: var(--color-foreground-default-subtle);
  padding: 0;
  font-size: var(--font-size-xs);
  margin-bottom: var(--spacing-3);
}
