a,
button {
  font-family: inherit;
  border: transparent;
  background: transparent;
  color: var(--color-foreground-default);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-foreground-primary);
  padding: 0 var(--spacing-1px);

  &:hover {
    color: var(--color-foreground-primary);
    text-decoration-color: var(--color-foreground-primary);
  }
}
