.nav {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.nav__header {
  font-size: var(--font-size-sm);
  margin-bottom: var(--spacing-2);
  color: var(--color-foreground-primary);
}

.nav__body {
  display: flex;
  gap: var(--spacing-6);
  overflow: hidden;
}

.nav__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 300px;
  gap: var(--spacing-1_5) 0;
}

.nav__link-container {
  width: 50%;
}

.nav__link {
  text-decoration-color: var(--color-foreground-default);

  &:hover {
    .nav__link-arrow {
      left: var(--spacing-2);
    }
  }
}

.nav__link-arrow {
  display: inline-block;
  position: relative;
  left: var(--spacing-0_5);
  font-weight: var(--font-weight-semibold);
  text-decoration: none;
  transition: left 0.1s;
}

.nav__link--active {
  color: var(--color-foreground-primary);
  text-decoration-color: var(--color-foreground-primary);
}

.nav__binary-container {
  border: 2px solid var(--color-border-default);
  height: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.nav__binary {
  position: absolute;
  width: 110%;
  overflow: hidden;
  overflow-wrap: break-word;
  margin: 0;
}

.binary-digit {
  color: var(--color-foreground-default-subtle);
  padding: var(--spacing-0_5);

  &:hover {
    background-color: var(--color-background-primary);
    color: var(--color-foreground-default-inverted);
    cursor: default;
  }
}

.binary-j {
  color: var(--color-foreground-primary);
}

/* Media Queries */
@media (max-width: 360px) {
  .nav__body {
    flex-direction: column;
  }

  .nav__binary-container {
    height: 100px;
  }

  .nav__links {
    gap: 0;
  }

  .nav__link {
    font-size: var(--font-size-sm);
  }
}
