.note {
  margin: var(--spacing-4) 0;
  padding: 0 var(--spacing-2);
  border: 2px solid var(--color-border-primary-subtle);
  background-color: var(--color-background-primary-subtle);
}

.note__text {
  color: var(--color-foreground-primary);
  font-size: var(--font-size-sm) !important;

  a {
    font-size: inherit;
    color: inherit;

    &:hover {
      color: var(--color-foreground-primary-hover);
    }
  }
}

.note__prefix {
  font-weight: var(--font-weight-semibold);
  padding-right: var(--spacing-2);
}
