:root {
  /* yellows */
  --yellow-100: 47, 100%, 95%;
  --yellow-200: 47, 100%, 85%;
  --yellow-300: 47, 100%, 70%;
  --yellow-400: 47, 100%, 60%;
  --yellow-500: 47, 100%, 50%; /* base */
  --yellow-600: 47, 100%, 40%;
  --yellow-700: 47, 100%, 30%;
  --yellow-800: 47, 100%, 20%;
  --yellow-900: 47, 100%, 15%;

  /* neutrals */

  /* --gray-100: 0, 0%, 95%; */
  /* --gray-200: 0, 0%, 85%; */
  /* --gray-300: 0, 0%, 75%; */
  /* --gray-400: 0, 0%, 65%; */
  /* --gray-500: 0, 0%, 55%; */
  /* --gray-600: 0, 0%, 45%; */
  /* --gray-700: 0, 0%, 35%; */
  /* --gray-800: 0, 0%, 25%; */
  /* --gray-900: 0, 0%, 18%; */
  /* --gray-1000: 0, 0%, 12%; */
  /* --gray-1100: 0, 0%, 8%; */
  /* --gray-1200: 0, 0%, 2%; */

  --gray-100: 220, 15%, 95%;
  --gray-200: 220, 14%, 85%;
  --gray-300: 220, 13%, 75%;
  --gray-400: 220, 12%, 65%;
  --gray-500: 220, 11%, 55%;
  --gray-600: 220, 10%, 45%;
  --gray-700: 220, 10%, 35%;
  --gray-800: 220, 10%, 25%;
  --gray-900: 220, 10%, 18%;
  --gray-1000: 220, 10%, 12%;
  --gray-1100: 220, 10%, 10%;
  --gray-1200: 220, 10%, 8%;
  --gray-1300: 220, 10%, 2%;

  /* foregrounds */
  --color-foreground-default: white;
  --color-foreground-default-subtle: hsl(var(--gray-400));
  --color-foreground-default-inverted: hsl(var(--gray-1000));
  --color-foreground-primary: hsl(var(--yellow-400));
  --color-foreground-primary-subtle: hsla(var(--yellow-500), 0.8);
  --color-foreground-primary-hover: hsl(var(--yellow-600));

  /* backgrounds  */
  --color-background-default: hsl(var(--gray-1100));
  --color-background-default-subtle: hsl(var(--gray-900));
  --color-background-primary: hsl(var(--yellow-400));
  --color-background-primary-subtle: hsla(var(--yellow-400), 0.1);

  /* borders  */
  --color-border-default: white;
  --color-border-default-subtle: hsla(var(--gray-400), 0.5);
  --color-border-primary: hsl(var(--yellow-400));
  --color-border-primary-subtle: hsla(var(--yellow-400), 0.5);
}
