* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
main,
body {
  background-color: var(--color-background-default) !important;
  color: var(--color-foreground-default);
}

p,
blockquote,
figure,
ul,
ol,
li,
form,
input,
button,
textarea {
  margin: 0;
  padding: 0;
}

button:hover,
a:hover {
  cursor: pointer;
}

button,
input {
  line-height: 1rem;
  box-sizing: border-box;
}

::selection {
  background-color: var(--color-background-primary);
  color: var(--color-foreground-default-inverted);
}
